<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" >
    <div fxFlex="16.6666667%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let type of types">
        <mat-card style="background-color: {{type.color}}; height: 70px;">
            <mat-card-header class="header">
                <mat-card-title>{{type.case}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="number">
                <p>{{type.value}}</p>
            </mat-card-content>
            <mat-card-footer>
                <p>{{type.date}}</p>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
