.topic{
    font-size: 25px;
    text-align: center;
    color:  rgb(255, 51, 133);
    font-family:monospace ;
    font-weight: bold;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label when focus*/
    color: white !important;
}

::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: rgb(255, 51, 133) !important;;
}

mat-datepicker-toggle {
    color: white !important;
}

input{
    color: white;
}

/*mat-form-field{
    background-color: rgb(34, 95, 114);
}*/

::ng-deep.mat-calendar-body-cell-content.mat-calendar-body-today{
    border-color:  rgb(42, 111, 133)!important;
    color: black !important;
}

::ng-deep.mat-calendar-body-selected{
    background-color: red;
}