.top{
    background-color: bisque;   
    margin-top: 10px;
}
.word{
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding: 30px;
}
.c{
    display: flex;
    flex-direction: row;
    justify-content:center;
}